<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-primary">Sobre</h2>
    <!-- <hr class="star-light mb-5"> -->
    <div class="row text-primary">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Armando presta serviços de contabilidade lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nesciunt magnam facere rerum molestiae consectetur. Illum voluptatem voluptatum in minima repellat consectetur nemo doloremque soluta, debitis fugit quisquam magni blanditiis!</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nesciunt magnam facere rerum molestiae consectetur. Illum voluptatem voluptatum in minima repellat consectetur nemo doloremque soluta, debitis fugit quisquam magni blanditiis!</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fas fa-download mr-2"></i>
        Download.
      </a>
    </div>
  </div>
</section>
