#contact {
  height: 100vh;
}

.contact_info {
  font-size: x-large;
}

.p_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.p_item div {
  align-items: center;
  margin: 10%;
}
